{% extends "base.jinja" %}
{% block page_css %}
  <style>
    .alnviz-col {
      overflow-x: scroll;
    }
    .ascii-art {
      /* float: right; */
	    white-space: pre;
	    font-family: monospace;
    }

  </style>
{% endblock %}

  <!-- TODO Need to add this crap somewhere still probably... -->
  <!--<head>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--[> Custom CSS <]-->
    <!--<link href="{{url_for('static', filename='css/2-col-portfolio.css')}}" rel="stylesheet">-->
  <!--</head>-->


{% block content %}

<div class="row">
  <div class="alnviz-col col-md-6">
    <div class="ascii-art">
      {{asciiart|safe}}
    </div>
  </div>
  <div class="alnviz-col col-md-1">
    <div>&nbsp;</div><div>&nbsp;</div>
    {% for rec in records %}
    <div class="ascii-art"> &gt; {{rec.id}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
  <div class="alnviz-col col-md-5">
    <div>&nbsp;</div><div>&nbsp;</div>
    {% for rec in records %}
    <div class="ascii-art"> {{rec.seq}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
</div>

{% endblock %}

