<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Le styles -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <link href="{{url_for('static', filename='dashboard.css')}}" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {{ js_resources }}
  {{ css_resources }}
  {{ script }}
  
  <script type="text/javascript">
  
  $(function() {
      $("a.btn-origins-toggle").click(function(event) {
          $(this).siblings("div.origins").toggleClass("hidden");
      })
  });
  
  </script>
  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block page_css %} XXX {% endblock %}

</head>
  
<body data-spy="scroll" data-target=".navlist">
  
  
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-list" style="width: 258px; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, .065);">


	    
            <li>last update: {{date}}</li>
            <li><a href="https://app.wercker.com/project/bykey/2637ce424bf5a96542f5a343c2d8020c"><img alt="Wercker status" src="https://app.wercker.com/status/2637ce424bf5a96542f5a343c2d8020c/s/master"></a></li>
	    <br/>
	    <a class="btn btn-info btn-xs btn-origins-toggle">origins &raquo;</a>
	    <div class="origins hidden" style="overflow-x: auto; width: 258px; border-radius: 6px; box-shadow: 0 1px 4px rgba(0, 0, 0, .065);">
	      <p><small>Generated by {{user}} on {{date}}.</small></p>
	      <p><small>Directory:<br><code>{{workdir}}</code></small></p>
	      <p><small>Command:<br><code>{{command}}</code></small></p>
	    </div>
          </ul>
	</div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	  {% block content %} default content {% endblock %}



	  
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

  <!-- origins
  Built with plot_bokeh.py which can be found in the 
  https://github.com/cswarth/santa-perf repo.
  -->


</body>
</html>

