{% extends "base.jinja" %}
{% block page_css %}
<style>
 tr.clickableRow { cursor: pointer; } 
</style>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <table class="table  table-striped table-hover">
      <thead>
	<tr>
	<th>Patient ID</th>
	<th>Timepoint</th>
	<th>total seeds</th>
	</tr>
      </thead>
      <tbody>
	
	{% for group in clusters|groupby('timepoint') %}
	{% set seedlist = group.list| map(attribute='seedid')| list| unique -%}
	{% set nseeds = seedlist | length -%}
	{% set url = url_for('by_seed', pid=pid, timepoint=group.grouper) if nseeds > 1 else url_for('by_cluster', pid=pid, timepoint=group.grouper, seedid=seedlist[0]) -%}
	<tr class='clickable-row' data-href='{{ url }}'>
	  <td>{{ pid }}</td>
	  <td>{{ group.grouper }}</td>
	  <td>{{ nseeds }} seed{{ "s" if nseeds > 1 else "" }}</td>
	</tr>
	{%-endfor-%}
      </tbody>
    </table>
    
  </div>
</div>
{% endblock %}

