{% extends "base.jinja" %}

{% block content %}

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Patient ID</th>
          <td>{{ cluster.pid }}</td>
        </tr>
        <tr>
          <th>Timepoint</th>
          <td>{{ cluster.timepoint }}</td>
        </tr>
        <tr>
          <th>Seed</th>
          <td>{{ cluster.seed }}</td>
        </tr>
        <tr>
          <th>V-gene</th>
          <td>{{ cluster.v_gene }}</td>
        </tr>
        <tr>
          <th>D-gene</th>
          <td>{{ cluster.d_gene }}</td>
        </tr>
        <tr>
          <th>J-gene</th>
          <td>{{ cluster.j_gene }}</td>
        </tr>
        <tr>
          <th>Sequences</th>
          <td>{{ cluster.n_seqs }}</td>
        </tr>
        <tr>
          <th>Clustering step</th>
          <td>{{ cluster.clustering_step }}</td>
        </tr>
        <tr>
          <th>Logprob</th>
          <td>{{ cluster.logprob }}</td>
        </tr>
        <tr>
          <th>All sequences</th>
          <td>
            <a href='{{ url_for('cluster_fasta', id=cluster.id) }}'>Nucleotide</a> &nbsp;
            <a href='{{ url_for('cluster_aa_fasta', id=cluster.id) }}'>Amino Acid</a>
          </td>
        </tr>
        {% if cluster.has_seed %}
        <tr>
          <th>Seed lineage</th>
          <td>
            <a href='{{ url_for('seedlineage_fasta', id=cluster.id) }}'>Nucleotide</a> &nbsp;
            <a href='{{ url_for('seedlineage_aa_fasta', id=cluster.id) }}'>Amino Acid</a>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>


<h3>Phylogenetic tree</h3>

<div class="row">
  <div class="col-md-12" style="overflow-x: scroll;">
    <figure class="svg-container w80" href="{{ url_for('svg_view', id=cluster.id) }}">
      {{ svg | safe }}
    </figure>
  </div>
</div>


<br/><br/>
<h3>{{focus_node}} lineage alignment</h3>

<div>
  <p>
    <a class="seq-mode-link" data="aa">Amino Acid</a> &nbsp;
    <a class="seq-mode-link" data="dna">Nucleotide</a>
  </p>
  <a href="{{url_for("lineage_download", id=cluster.id, focus_node=focus_node, seq_mode=seq_mode)}}">Download</a>
</div>

<div class="col-container">
  <div class="scrollable resizable" style="width: 10%;">
    <div>&nbsp;</div>
    <div class="ascii-art {{seq_mode}}"> &gt; {{seed_seq.id}} </div>
    <div>&nbsp;</div>
    {% for rec in lineage_seqs %}
    <div class="ascii-art {{seq_mode}}"> &gt; {{rec.id}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
  <div class="scrollable display-toggle" style="width: auto;">
    <div>&nbsp;</div>
    <div class="ascii-art {{seq_mode}}"> {{seed_seq.seq | annotate(cluster, seq_mode) | safe}} </div>
    <div>&nbsp;</div>
    {% for rec in lineage_seqs %}
    <div class="ascii-art {{seq_mode}}"> {{rec.seq | annotate(cluster, seq_mode) | safe}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
</div>

<script type="text/javascript">
$(function() {
    // Define a function for updating the query params
    function updateQueryStringParameter(key, value) {
      var currentUrl = window.location.href;
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = currentUrl.indexOf('?') !== -1 ? "&" : "?";
      var newUrl;
      if (currentUrl.match(re)) {
        newUrl = currentUrl.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        newUrl = currentUrl + separator + key + "=" + value;
      }
      // Navigate to new url
      location.href = newUrl;
    }

    // When our SVG tree's text nodes are clicks, update the focus_node query param (and reload) so the
    // corresponding lineage is loaded.
    $(".svg-container text").click(function() {
      var nodeName = $(this).html().split(" ")[0];
      console.log("Node clicked for " + nodeName);
      updateQueryStringParameter('focus_node', nodeName);
      // TODO Should add an anchor so we zip down to the alignment...
      });

    // When we click on the seq_mode links, it should toggle the seq_mode query param
    $(".seq-mode-link").click(function() {
      var seqMode = $(this).attr('data');
      console.log("Seq mode link clicked for " + seqMode);
      updateQueryStringParameter('seq_mode', seqMode);
      });

    // want to make the highlighted node bold for easier visual identification
    $(".svg-container text:contains('{{ focus_node }}')").css("font-weight", "bold");
    });
</script>


{% endblock %}

