{% extends "base.jinja" %}
{% block page_css %}
  <style>
    .col-container {
      width: 100%;
    }
    .scrollable {
      overflow-x: scroll;
    }
    .resizable {
      resize: horizontal;
      float: left;
    }
    .ascii-art {
      /* float: right; */
	    white-space: pre;
	    font-family: monospace;
    }
    .svg-container {
      width: 100%;
    }


    /* The alignment coloring/styling */
    span.Vgene {
      background-color: #b2d28e
    }
    span.N {
      background-color: #8fbbd9
    }
    span.Dgene {
      background-color: #ecaf80
    }
    span.Jgene {
      background-color: #aba7d4
    }
    span.mutation {
      color: red
    }
    span.CDR3 {
      font-weight: bold
    }

  </style>
{% endblock %}

  <!-- TODO Need to add this crap somewhere still probably... -->
  <!--<head>-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--[> Custom CSS <]-->
    <!--<link href="{{url_for('static', filename='css/2-col-portfolio.css')}}" rel="stylesheet">-->
  <!--</head>-->


{% block script %}

{% endblock %}


{% block content %}

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>Patient ID</th>
          <td>{{ cluster.pid }}</td>
        </tr>
        <tr>
          <th>Timepoint</th>
          <td>{{ cluster.timepoint }}</td>
        </tr>
        <tr>
          <th>Seed</th>
          <td>{{ cluster.seed }}</td>
        </tr>
        <tr>
          <th>V-gene</th>
          <td>{{ cluster.v_gene }}</td>
        </tr>
        <tr>
          <th>D-gene</th>
          <td>{{ cluster.d_gene }}</td>
        </tr>
        <tr>
          <th>J-gene</th>
          <td>{{ cluster.j_gene }}</td>
        </tr>
        <tr>
          <th>Sequences</th>
          <td>{{ cluster.nseq }}</td>
        </tr>
        <tr>
          <th>Clustering step</th>
          <td>{{ cluster.clustering_step }}</td>
        </tr>
        <tr>
          <th>All sequences</th>
          <td>
            <a href='{{ url_for('cluster_fasta', id=cluster.id) }}'>Fasta</a> &nbsp;
            <!--<a href='{{ url_for('cluster_phylip', id=cluster.id) }}'>Phylip</a>-->
          </td>
        </tr>
        {% if cluster.has_seed %}
        <tr>
          <th>Seed lineage</th>
          <td><a href='{{ url_for('seedlineage_fasta', id=cluster.id) }}'>Fasta</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<div>
  <strong>View mode:</strong>
  &nbsp;
  <!-- This is rather fricking ridiculous, but it works; The idea is that these toggles toggle not only the views,
     but themselves as well, since they all have the view-mode-toggle class. This is the sort of ridiculous stateful
     crap we have to resort to without doing something like React. -->
  <span class="display-toggle">ASCII</span>
  <a href="#" class="view-mode-toggle display-toggle" style="display: none;">ASCII</a>
  &nbsp;
  <span class="display-toggle" style="display: none;">SVG</span>
  <a href="#" class="view-mode-toggle display-toggle">SVG</a>
</div>

<div class="row display-toggle" style="display: none;">
  <div class="col-md-12" style="overflow-x: scroll;">
    <figure class="svg-container w80" href="{{ url_for('svg_view', id=cluster.id) }}">
      {{ svg | safe }}
    </figure>
  </div>
</div>

<div class="col-container display-toggle">
  <div class="scrollable resizable" style="width: 35%;">
    <div class="ascii-art">
      {{asciiart|safe}}
    </div>
  </div>
  <div class="scrollable resizable" style="width: 10%;">
    <div>&nbsp;</div><div>&nbsp;</div>
    {% for rec in records %}
    <div class="ascii-art"> &gt; {{rec.id}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
  <div class="scrollable" style="width: auto;">
    <div>&nbsp;</div><div>&nbsp;</div>
    {% for rec in records %}
    <div class="ascii-art"> {{rec.seq | annotate(cluster) | safe}} </div>
    {% endfor %}
    <div>&nbsp;</div>
  </div>
</div>

<script type="text/javascript">
$(function() {
    $(".view-mode-toggle").click(function() {
      console.log("Toggling view mode");
      $(".display-toggle").toggle();
      });
    $(".svg-container svg").width("100%").height("100%");
    $(".svg-container").click(function() {
      console.log("Opening svg in new tab");
      var url = $(".svg-container").attr("href");
      window.open(url);
      });
    });
</script>


{% endblock %}

