{% extends "base.jinja" %}
{% block page_css %}
<style>
 tr.clickableRow { cursor: pointer; } 
</style>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
  });
</script>
{% endblock %}

"Crap and stuff"

{% block content %}
<div class="row">
  <div class="col-md-6">
    <table class="table  table-striped table-hover">
      <thead>
	<tr>
	<th>run</th>
	<th>seed</th>
	<th>v-gene</th>
	<th>d-gene</th>
	<th>j-gene</th>
	</tr>
      </thead>
      <tbody>
      {%- for key,c in clusters|clustersort(by=['run', 'seed', 'v_gene', 'd_gene', 'j_gene'],reverse=True) -%}
      <tr class='clickable-row' data-href='{{url_for('cluster_page',id=key)}}'>
	<td>{{c.run}}</td>
	<td>{{c.seed}}</td>
	<td>{{c.v_gene}}</td>
	<td>{{c.d_gene}}</td>
	<td>{{c.j_gene}}</td>
      </tr>
      {%-endfor-%}
      </tbody>
    </table>
    
  </div>
</div>
{% endblock %}

